{% extends "base.html" %}

{% block title %}Доставка{% endblock %}



{% block body %}
    
<main class="page__main" role="main">
    <div style="color:black" class=" container d-flex flex-column">
   
        <h2>Условия доставки:</h2>
        <ul>
            <li class="list-item">Доставка за счёт клиента </li>
            <li class="list-item">Осуществляется в течении 3х рабочих дней</li>
        </ul>
        <h2>Условия возврата:</h2>
        <ul>
            <li class="list-item">В случае заводского брака одного из товаров, мы гарантируем замену товара в течение 14 дней с момента покупки товара, пересылка осуществляется за счет продавца, опираясь на законодательство Украины: (Согласно Закону Украины (статья 9), «О защите прав потребителей»). Возврат средств клиенту производится только после получения и проверки наличия всех товаров и целостности упаковок.</li>
            <li class="list-item">В случае, если клиент требует полного возврата средств за оказанную услугу (наполнения и оформления подарочного бокса), по собственному желанию, он обязуется вернуть нам все товары, которые находились в заказе, в каждом их которых сохранена целостность упаковки, пересылка осуществляется за счет покупателя. Средства возвращаются в полном объеме, за вычетом стоимости потраченных материалов на упаковку (если упаковка бокса была повреждена) и(или) доставки (в случае если таковая производилась за наш счет).</li>
        </ul>

        
    
        
    </div>
</main>

{% endblock %}


{% block footer%} 
   
{% endblock %}