<footer class="page__footer">
    <div class="social-links d-flex">
        <ul class="social-links__menu-list menu-list d-inline-block">
            <li class="social-links__list-item">
                <a  class="link" href="https://www.instagram.com/mysurprisebox_od/" target="_blank">
                    <i class="fab fa-instagram"></i>&nbsp;mysurprisebox_od
                </a>
            </li>
            <li class="social-links__list-item">
                <a  class="link" href="mailto:mysurprisebox.odessa@gmail.com" target="_blank">
                    <i class="far fa-envelope"></i>&nbsp;mysurprisebox.odessa@gmail.com
                </a>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-column align-items-center pb-3">
        <a class="link pb-1" href="terms-of-use.php">Пользовательское соглашение</a>
        <a class="link pb-1" href="public-offer-agreement.php">Договор публичной оферты</a>
        <div class="h-3 w-4">
            <img src="/img/visa.png" alt="visa and mastercard">
        </div>
    </div>
    
</footer>