{% extends "base.html" %}

{% block title %}Оплата{% endblock %}

{% block body %}
    
<main class="page__main " role="main">
    <div style="color:black" class=" container d-flex flex-column">
   
        <h2>О нас</h2>
        <p><strong>Мы</strong> - компания которая принесёт вам немного счастья и будет держать в интриге . Гарантировано получите подарок который вам понравится. 
Сервис случайных подарков. Все подарки отправляются в рандомном порядке</p>
        <h2>Контакты</h2>
        <p>+380 (68) 067 85 79</p>
        
    
        
    </div>
</main>

        
                    
                    
           

{% endblock %}




{% block footer%} 
   


{% endblock %}
